<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
             <th>Salary</th>
             <th>Date of Birth</th>
            <th>IsAdmin</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of students">

            <td>{{std.id}}</td>
            <!-- <td>{{std.name | uppercase}}</td> -->
            <!-- <td>{{std.name | lowercase}}</td> -->

            <td>{{std.name | title: std.gender | uppercase}}</td>

            <td>{{std.gender}}</td>

            <td>{{std.salary | currency:'INR'}}</td>

            <td>{{std.dob | date: 'M/d/Y'}}</td>

            <td>{{std.isAdmin?'Yes':'No'}}</td>
        </tr>
    </tbody>
</table>
<br>
<!-- {{ students | json}} -->

