<br><br>
<form [formGroup]="UserForm">
      
     <p>
        <label for="">Name</label><br>
        <input type="text" name="name" formControlName="name">
     </p>

     <p>
        <label for="">Username</label><br>
        <input type="text" name="username" formControlName="username">

     </p>
     <p>
        <label for="">Email</label><br>
        <input type="text" name="email" formControlName="email">

     </p>

     <p>
        <button (click)="updateRecord()">Update</button>
      
     </p>

</form>

