<br><br><br>
<h1 class="mt-5" style="font-family: Nosifer">Home Page</h1>
<br>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt eius recusandae ut tenetur doloremque laudantium reprehenderit delectus, porro eos veritatis deleniti esse molestiae labore, dolorum provident voluptatem expedita voluptate?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt eius recusandae ut tenetur doloremque laudantium reprehenderit delectus, porro eos veritatis deleniti esse molestiae labore, dolorum provident voluptatem expedita voluptate?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt eius recusandae ut tenetur doloremque laudantium reprehenderit delectus, porro eos veritatis deleniti esse molestiae labore, dolorum provident voluptatem expedita voluptate?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt eius re
</p>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Book</li>
    </ol>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Book</a></li>
        <li class="breadcrumb-item active">Add Book</li>
    </ol>
</nav>

<br><br><br>
<!-- <h3>chat <span class="badge bg-secondary">3</span></h3> -->

<button class="btn btn-primary position-relative">
    Inbox
    <span class="position-absolute translate-middle top-0 start-100 badge bg-danger rounded-pill">
        14+
    </span>
</button>



<div class="progress mt-5" style="height: 1px;">
    <div class="progress-bar w-75"></div>
</div>
<div class="progress mt-5 mb-5" >
    <div class="progress-bar progress-bar-striped progress-bar-animated " style="width: 25%;">loading ....25%</div>
</div>

<div class="mt-5 mb-5">
 <div class="row">
      <div class="col-md-4">
           <div id="myBio" class="list-group">
                 <a class="list-group-item list-group-item-action" href="#para-item-1">Paragraph 1</a>
                 <a class="list-group-item list-group-item-action" href="#para-item-2">Paragraph 2</a>
                 <a class="list-group-item list-group-item-action" href="#para-item-3">Paragraph 3</a>
                 <a class="list-group-item list-group-item-action" href="#para-item-4">Paragraph 4</a>
           </div> 
      </div>
      <div class="col-md-8" >
            <div data-bs-spy="scroll" data-bs-smooth-scroll="true" data-bs-target="#myBio" style="height: 160px; overflow-y: scroll;">
                   <h2 id="para-item-1">Paragraph 1</h2>
                   <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                   </p>
                   <h2 id="para-item-2">Paragraph 2</h2>
                   <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                   </p>
                   <h2 id="para-item-3">Paragraph 3</h2>
                   <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                   </p>
                   <h2 id="para-item-4">Paragraph 4</h2>
                   <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, veniam quaerat architecto placeat molestiae asperiores aut temporibus, voluptatibus consequatur alias facilis cupiditate sequi, doloremque doloribus? Animi quos quod nulla quia.
                   </p>
            </div>
      </div>
 </div>
</div>
<hr>
