<br><br>
<div style="margin-left: 30px;">
    <form [formGroup]="UserForm" (submit)="registerProcess()">     
    
        <label>Name </label> <br>
        <input type="text"  name="name"  formControlName="name" >     
        <br><br>
         
        <label>Email </label> <br>
        <input type="text"  name="email"  formControlName="email" >     
        <br><br>
    
      
     
        <label for="">Password</label><br>
        <input  type="password" name="password" formControlName="password">
    
         <br><br>
         <input type="submit" value="Register">
    
    </form>
</div>

 